/* 
    Created on : Sep 27, 2014, 10:33:05 PM
    Author     : Eranda Bandaranaike
*/
html, body{
    height: 100%;
    font-size: 12px;
}
.footer {
    height: 40px;
    line-height: 40px;
    margin: -41px 0 0;
    text-align: center;
    color: #999;
}
.main-content{
    min-height: 100%;
}
.content_wrapper{
    padding-bottom: 42px;
    margin: auto;
}
.content_wrapper header{
    height: auto;
}
.form_wrapper{
    float: left;
    min-width: 250px;
}
.form_wrapper:before, .form_wrapper:after{
    clear: both;
}
.view_content{
    overflow: auto;
}
.header_baner{
}
.header_logo{
    padding: 20px 0;
    float: left;
}
.header_links_container{
    float: right;
    margin: 12px 5px 0 0;
}
.metro .shortcut.link.big_icon{
    float: left;
    margin-right: 10px;
}
.half_icons{
    float: left;
}
.tile_collection>div{
    float: left;
}
.header_links_nav{
    border: 1px solid #aaa;
    float: left;
    height: 26px;
    width: 100%;
    width: 315px;
    background: rgba(255,255,255,0.9);
}
.header_links_nav a{
    float: left;
    display: block;
    border-right:1px solid #aaa;
    height: 25px;
    padding: 3px 6px;
}
.header_links_nav a:last-child{
    border-right: none;
}
.booking_window{
    min-height: 350px;
    border: 1px dashed #fff;
    position: relative;
    z-index: 4;
    background: #6f817e;
    padding: 10px;
    float: left;
    color: #fff;
}
.booking_window_header{
    padding: 0 10px 10px;
    margin: 0 -10px;
    font-size: 16px;
}
.slider_content{
    float: left;
    width: 100%;
    //margin: 0 -10px 0 10px;
}